@import "fonts.css";

/**
*
* css styles, I wasn't sure if I could have used sass or less so 
* this is writen with vanilla css.
*
**/
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  background: white;
  overflow:hidden;
}

header {
  position:relative;
  z-index:2;
  background:#ec008c;
  color:white;
  
}

.logoContainer {
  display:inline-block;
  padding:24px;
  padding-right: 0;
  margin-right:48px;
  vertical-align: middle;
}

header .logo {
  display:block;
  background:url(../images/HUGE-white.png);
  background-size:100% 100%;
  text-indent: 9999px;
  overflow: hidden;
  width:60px;
  height: 24px;
  vertical-align:middle;
 
}

.mainNavigationContainer {
  transition: all .4s  cubic-bezier(0.135, 0.455, 0.735, 0.2759);
}

.mainNavigationContainer, li.topElement{
  display:inline-block;
  vertical-align:middle;
}

li.topElement{
  position:relative;
  transition:all .2s ease-out;
}

li.topElement:hover{
  background:white;
  color:#ec008c;
}

li.topElement>a{
  padding:24px;
  display:block;
  font: 21px/48px HUGEAvantGardeBOLD;
  line-height: 24px;
  color:inherit;
  text-decoration:none;
}

.secondaryNav {
  position:absolute;
  height:0;
  visibility:hidden;
  opacity:0;
  top: 100%;
  left: 0;
  transition: all .3s ease-in;
}


.secondaryNav.visible{
  background:white;
  transform:translateY(0);
  visibility:visible;
  opacity:1;
  height:auto;
  width: 200%;
  z-index: 3;
}

.secondaryNav ul {
  list-style:none;
}

.secondaryNav ul li{
  height:48px;
}

.secondaryNav li a {
  display:block;
  font: 16px/48px Galaxie;
  color:black;
  padding: 12px 24px;
  text-decoration:none;
  line-height:24px;
  height:100%;
  width:100%;
  transition: all .2s ease-in;
}

.secondaryNav li a:hover {
  background:#eee;
  color:#ec008c;
}

.mainContent {
  height:100%;
  position:relative;
  transition: all .4s  cubic-bezier(0.135, 0.455, 0.735, 0.2759);
}

.centerPiece {
  height:640px;
  background:url(../images/background-image.jpg);
  position:relative;
}

.motivationalQuoteDesk{
  position:absolute;
  top: 50%;
  left: 50%;
  font: 13vmin/1 HUGEAvantGardeBOLD; 
  display:block;
  width: 820px;
  margin: 0 auto;
  text-align:center;
  color:white;
  -webkit-transform: translate(-50%, -50%);    transform: translate(-50%, -50%);
}

.motivationalQuoteMobile{
  display:none;
}

.articleContainer{
  width:968px;
  margin:0 auto;
  margin-top:60px;
  font: 26px/36px Galaxie;
}

.overlay{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
  transform: translateY(-100%);
  transition: all .3s ease-out;
}

.overlay.show{
  transform:translateY(0);
}

.copyRight {
  visibility:hidden;
  display: none;
}

/*==========  media query to handle mobile size  ==========*/

@media screen and (max-width: 767px) {

  header{  
   width: 100%;
}

  .logoContainer{
    visibility: hidden;
    padding: 20px 0;
  
    opacity: 0;
    transform: translateX(200px);
    transition: all .3s ease-out;
}

  .logoContainer.showMobile{
    visibility:visible;
    margin-left: 24px;
  
    transform: translateX(0);
    opacity: 1;
}

  header .logo{ 
    height: 20px;
  }

  .mainNavigationContainer{
    position:fixed;
    background:white;
    color:black;
    top:60px;
    height:100%;
    width:75%;
    backface-visibility: hidden;
    transform: translateX(-100%);
}

  .mainNavigationContainer, li.topElement {
    display:block;
  }

  li.topElement:before {
    position:absolute;
    display:block;
    background: url(../images/bullet.png);
    background-size:100% 100%;
    content:"";
    width:20px;
    height:13px;
    right:20px;
    top:20px;
    transition:all .3s ease-in-out;

  }

  .copyRight{
    visibility:visible;
    display: block;
    position:absolute;
    bottom: 75px;
    left: 24px;
  
    font-family: 'HelveticaNeueRegular' sans-serif;
    font-size: 12px;
}

  li.topElement:first-child:before{
     top:26px;
  }

  li.topElement.showingSubMenu:before {
    transform:rotate(180deg);
  }

  li.topElement>a {
    padding:12px 24px;
  }

  li.topElement>a:hover{
    background: #eee;
  } 

  li.topElement:first-child>a{
    padding:24px 24px 12px 24px;
  }

  .secondaryNav{
    transform:scaleY(0);
    height:auto;
    opacity:0;
    

  }

  .secondaryNav.visible {
    background:white;
    position:relative;
    transform:scaleY(1);
    visibility:visible;
    opacity:1;
    width: 100%;
    z-index: 3;
   
  }

  .hamburgerContainer {
    position:absolute;
    display: block;
    top: 20px;
    margin: 0 20px;
    width: 24px;
    height: 20px;
    cursor:pointer;
    transition: all .3s ease-out;
  }

  .hamburgerContainer .hamburger{
    position:relative;
    width: 24px;
    height: 4px;
    margin: 10px 0;
    background: white;

    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .hamburgerContainer .hamburger:before,  .hamburgerContainer .hamburger:after{
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background: white;
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
  }

  .hamburgerContainer .hamburger:after{
    top:8px;
  }

  .hamburgerContainer .hamburger:before{
    top:-8px;
  }

  .hamburgerContainer.pressed{
    right: 0;
}

  .hamburgerContainer.pressed .hamburger{
    background:none;
  
}
  .hamburgerContainer.pressed .hamburger:after{
    top:0;
    transform:rotate(45deg);
  }

  .hamburgerContainer.pressed .hamburger:before{
    top:0;
    transform:rotate(-45deg);
  }

  .articleContainer{
    width: 80%;
  
    margin:  50px auto;
    font: 14px/24px Galaxie;
}

  .centerPiece {
    height:240px;
  }

  .motivationalQuoteMobile{
    display:block;
    font: 44px/48px HUGEAvantGardeBOLD;
    margin-bottom:50px;
}

  .motivationalQuoteDesk{
    display:none;
  }
  .mainNavigationContainer.pushed{
    transform:translateX(0);
  
    overflow: auto;
}
  .mainContent.pushed {
    transform: translateX(75%);
  }

  .overlay{
    transform:translate(-100%, 0);
    transition-delay:.3s;
  }
  .overlay.showMobile{
    transform:translate(0, 0);
  }

}